.U{
    background-color:#00FFFF;
height:80px;
text-align:center;
line-height:80px;;font:50px 標楷體
}
.R{
    background-color:#faebd7;
width:120px;
height:400px;
text-align:center;
line-height:400px;
float:right
}
.L{
    background-color:#faebd7; 
width:120px;
height:400px;
text-align:center;
line-height:400px;
float:left;
}
.C{
    margin-left:120px;
margin-right:120px;
height:400px;
background-color:#F2FFF2;
text-align:center;
line-height:400px;
}
.D{
    clear:both;
background-color:#00FFFF;
height:80px;
text-align:center;
line-height:80px;
}